<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <div x-data="weather" x-cloak>
        <input type="text" name="search" x-model.debounce.500ms="search" placeholder="Enter location"></input>

        <!-- Label for Current Temperature -->
        <style>
            label {
                font-weight: bold;
                margin-right: 10px;
            }
        </style>
        <label>Current Temperature:</label>
        <p x-text="current_weather.main.temp"></p>

        <!-- Label for Feels Like Temperature -->
        <label>Feels Like Temperature:</label>
        <p x-text="current_weather.main.feels_like"></p>

        <label>Current Humidity:</label>
        <p x-text="current_weather.main.humidity"></p>

        <label>Current Max Temperature:</label>
        <p x-text="current_weather.main.temp_max"></p>

        <label>Current Min Temperature:</label>
        <p x-text="current_weather.main.temp_min"></p>

        <label>Weather Description:</label>
        <p x-text="current_weather.weather[0].description"></p>

        <!-- Label for Air Pollution CO2 -->
        <label>Air Pollution CO2:</label>
        <p x-text="current_weather.air_pollution.list[0].components.co"></p>
    </div>
</body>
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("weather", () => ({
            current_weather: {},
            search:"Paris",
            async init() {
                this.$watch("search", async (value) => {
                    await this.fetch_data()
                })
                await this.fetch_data()
            },
            async fetch_data() {
                this.current_weather = await (await fetch("/weather/" + this.search)).json()
            },
        }))
    })
</script>
</html>
